*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
}

header div{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

header ul li:hover {
    border-bottom: solid 2px ;
}

.content-body {
    margin-top: 130px;
}


.text-title {
    font-size: 40px;
    margin-bottom: 25px;
}

.text-content {
    font-size: 25px;
    margin-top: 60px;
}

.btn {
    background-color: red;
    color: white;
    margin-top: 60px;
    padding: 15px 25px;
    font-size: 25px;
    text-decoration: none;
}