.container {
    margin-left: 50px;
    margin-right: 50px;
}

.homepage-header {
    display: flex;
    background-color: aqua;
}

.homepage-header ul{
    display: flex;
    list-style: none;
    gap: 30px;
    position: ;
    justify-content: right;
}

.content-homepage {
    display: flex;
}

.content-homepage img{
    max-width: 700px;
    max-height: 700px;
}

.content-homepage2{
    display: flex;
    
}


.content-homepage2 img{
    max-width: 700px;
    max-height: 700px;
}